main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 90vh;
}

table {
	width: 100%;
	text-align: center;
}

thead tr td {
	text-align: center;
	background-color: white;
}

td {
	width: 100%;
	border-radius: 15px;
	background-color: #DBFAFF;
}

.top_panel {
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	margin: 15px;
}

.list_users {
	margin: 3px;
	background-color: #2E9AFE;
	overflow: auto;
	border-radius: 10px;
}

.chat {
	margin: 3px;
	background-color: #2E9AFE;
	border-radius: 15px;
}

.messages {
	border-bottom: 5px solid #81BEF7;
	height: 80vh;
	overflow: auto;
}

.messages p {
	padding: 10px;
	margin: 5px;
	margin-left: 15px;
	background-color: #DBFAFF;
	border-radius: 5px;
}

.input_message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 8vh;
}

.input_message input {
	width: 88%;
	margin-right: 1%;
}

.input_message button {
	width: 8%;
}

.input_message * {
	height: 80%;
}
