main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 95vh;
}

table {
	width: 100%;
	text-align: center;
}

td {
	width: 100%;
}

.username {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.list_users {
	margin: 3px;
	background-color: #2E9AFE;
	overflow: auto;
}

.chat {
	margin: 3px;
	background-color: #2E9AFE;
}

.messages {
	border-bottom: 5px solid #81BEF7;
	height: 84vh;
	overflow: auto;
}

.messages p {
	padding: 10px;
	margin: 5px;
    background-color: #CEE3F6;
	border-radius: 5px;
}

.input_message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10%;
}

.input_message input {
	width: 88%;
	margin-right: 1%;
}

.input_message button {
	width: 8%;
}

.input_message * {
	height: 80%;
}
